<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="default" value="Server=281d4074-717d-434e-9cfd-a3f800ccd05d.sqlserver.sequelizer.com;Database=db281d4074717d434e9cfda3f800ccd05d;User ID=ovtcgduhpaiancbo;Password=y6kU8TT4Hv57irZbKjzgwuVGLssyyrsnbithsdEVfZD3kYhshrxuM6mdiKiNAtDq;"/>
  </appSettings>
</configuration>